<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link ref="stylesheet" href="/css/bootstrap.min.css" />
    <link ref="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
      <link ref="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link ref="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
     -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/community.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</head>
<body>


<div th:include="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>advocate</h2>

        <form action="/publish" method="post">
            <input type="hidden" name="id" th:value="${id}">
            <div class="form-group">
                <label for="title">question head(simple)</label>
                <input type="text" class="form-control" id="title" name = "title"  th:value="${title}" placeholder="question head">
            </div>
            <div class="form-group">
                <label for="description">questions in detail(must fill)</label>
                <textarea class="form-control"  th:text="${description}" id = "description" name="description" rows="30" cols = "10"></textarea>
            </div>
            <div class="form-group">
                <label for="tag">add tag :</label>
                <input type="text" class="form-control" th:value="${tag}" id="tag" name = "tag" placeholder="add tag, seperated by ,">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="alert alert-danger col-lg-12 co-md-12 col-sm-12"
                            th:text="${error}"
                            th:if="${error !=  null}" >
                         </div>
                    </div>
                     <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                               Publish
                            </button>
                     </div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3> publish guide</h3>
            . Use simple language <br>
            . Add detail question
        </div>
    </div>
</div>
</body>
</html>